Criptos.xlsx
.~lock.Criptos.xlsx#
operations.json
purchases.json
sells.json
reader.js
data.json
teste.json
data_2020_method1.json
parserOld.js
transactions.json
.yarn/
.editorconfig
yarn.lock
cryptoLogs
.vscode/
cryptoLogs/
logs/
dist/
src/modules/asset/
src/modules/stocks/
node_modules/
src/modules/crypto/useCases/parser/parserUseCase_copy.ts
src/utils/tokens
