/* ############ */
/* All pages */
/* ############ */

body {
    font-family: 'Poppins', 'sans-serif';
    background-color: rgb(218, 218, 218);
    margin: 0;
}

header {
    padding: 10px;
    padding-bottom: 50px;
    background: rgb(6, 83, 6);
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subHeader {
    display: flex;
    gap: .8rem;
    align-items: center;
}

#contact {
    background-color: gray;
    color: white;
    padding: .8rem;
}

footer {
    background:rgb(6, 83, 6);
    color: white;
    bottom: 0;
    margin: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
}

/* ############ */
/* finances.html */
/* ############ */

#financeMenu {
    width: max(50vw, 550px);
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vh;
}


#summaryContainer {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.summaryBox {
    background: white;
    color: black;
    width: 30%;
    height: 15%;
    padding: 1.5rem;
}

#total {
    background: green;
    color: white;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: .8rem;
}

.values {
    font-size: 1.5rem;
}

#transactionsContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#newTransaction {
    color: green;
    font-size: .8rem;
}

#newTransaction:hover {
    color: white;
    cursor: pointer;
}


.divForm {
    width: 25vw;
    background: rgb(6, 83, 6);
    display: none;
    position: fixed;
    border: 3px solid rgb(6, 83, 6);
    z-index: 9;
}

form {
    display: flex;
    flex-direction: column;
}

.formButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formConfirm {
    background: green;
    color: white;
}

.formCancel {
    background: red;
    color: white;
}

#editFormDelete {
    background: black;
    color: red;
}

.tableClass {
    display: flex;
    align-items: center;
    height: 2.5rem;
    background: white;
    color: black;
}

.tableTransaction:hover {
    opacity: .5;
}

#tableNames {
    background-color: rgb(6, 83, 6);
    color: white;
    height: 2rem;
    font-weight: bold;
}

.description {
    display: inline-block;
    flex-grow: 1;
    padding-left: 2rem;
}

.value {
    display: inline-block;
    width: 12vw;
}

.date {
    display: inline-block;
    width: 12vw;
}

/* ############ */
/* cryptos.html */
/* ############ */

#currentSituationTab {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.newLineClass {
    background-color: white;
}

.newLineClass:hover {
    opacity: .5;
    cursor: pointer;
}

h1 {
    background-color: rgb(6, 83, 6);
    color: white;
}

#firstRoll {
    background-color: green;
    color: white;
}

#currentSituationDiv {
    margin-bottom: 10px;
    margin-top: 10px;
}

#operationsDiv {
    width: 70vw;
    display: flex;
    margin-left: 23vw;
    margin-right: 25vw;
}

#h2purchases, #h2sells {
    background-color: green;
    color: white;
    text-align: center;
}

#purchasesDiv {
    width: 25vw;
}

#sellsDiv {
    width: 25vw;
}