/* ############ */
/* All pages */
/* ############ */

:root {
    --background-color: rgb(218, 218, 218);
    --this-green: rgb(6, 83, 6);
    --white-hover: rgb(200, 200, 200);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    padding-bottom: 100px;
    background-color: var(--this-green);
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-right: 4rem;;
}

#subHeader {
    display: flex;
    gap: .8rem;
    align-items: center;
    overflow-y: auto;
}

#contact {
    background-color: gray;
    color: white;
    padding: .8rem;
}

footer {
    width: 100vw;
    color: rgb(6, 83, 6);
    text-align: center;
    padding: 4rem 0 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    border: solid 1px red;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* ## Links and Buttons ## */

button {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0;
    border-radius: .25rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--white-hover);
}


/* ################################################## */
/* ############### finances.html #####################*/
/* ################################################## */

#financeMenu {
    width: 730px;
    margin: auto;
}

#summaryContainer {
    margin-top: -4rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.summaryBox {
    background: white;
    color: black;
    width: 33%;
    height: 130px;
    padding: 1.5rem;
    border-radius: 0.25rem;
    overflow: auto;
}

#total {
    background: green;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: .8rem;
}

.values {
    font-size: 1.5rem;
}

#transactionsContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#newTransaction {
    color: green;
    font-size: .8rem;
}

#newTransaction:hover {
    color: white;
    cursor: pointer;
}

/* ################ Forms ############## */

.divForm {
    width: 400px;
    padding: 0.5rem;
    background-color: var(--background-color);
    border: 3px solid rgb(6, 83, 6);
    border-radius: 6px;
}

.divForm h2 {
    color: green;
    text-align: center;
    margin: 0;
}

.divForm form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-top: .8rem;
}

.input-group input {
    width: 100%;
}

.formButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.formConfirm {
    background: green;
    color: white;
}

.formCancel {
    background: red;
    color: white;
}

.formDelete {
    background: black;
    color: red;
}

/* ############### Transactions ############### */

.tableClass {
    display: flex;
    align-items: center;
    height: 2.5rem;
    background: white;
    color: black;
    border-radius: 0.25rem;
}

.tableTransaction:hover {
    background: var(--this-green);
    cursor: pointer;
}

#tableNames {
    background-color: var(--this-green);
    color: white;
    height: 2rem;
    font-weight: bold;
}

.description {
    display: inline-block;
    flex-grow: 1;
    min-width: 150px;
    padding-left: 2rem; 
    overflow: auto;
}

.value {
    display: inline-block;
    width: 150px;
    min-width: 150px;
    margin-left: 2rem;
}

.date {
    display: inline-block;
    width: 150px;
    min-width: 150px;
}

/* ############# Modal ############## */

/* Obs: check attributes */
.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /*not sure*/
    height: 100vh; /*not sure*/
}


/* ################################################## */
/* ################## cryptos.html ###################*/
/* ################################################## */

#currentSituationTab {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.newLineClass {
    background-color: white;
}

.newLineClass:hover {
    opacity: .5;
    cursor: pointer;
}

h1 {
    background-color: rgb(6, 83, 6);
    color: white;
}

#firstRoll {
    background-color: green;
    color: white;
}

#currentSituationDiv {
    margin-bottom: 10px;
    margin-top: 10px;
}

#operationsDiv {
    width: 70vw;
    display: flex;
    margin-left: 23vw;
    margin-right: 25vw;
}

#h2purchases, #h2sells {
    background-color: green;
    color: white;
    text-align: center;
}

#purchasesDiv {
    width: 25vw;
}

#sellsDiv {
    width: 25vw;
}

/* ############################## */
/* ----- Responsive ------ */
/* ############################## */

@media (max-width: 730px) {
    #financeMenu {
        width: 90vw;
    }
    #summaryContainer {
        flex-direction: column;
    }

    .summaryBox {
        width: min(90vw, 730px);
    }

    #transactionsContainer, main, body, html {
        width: 100%;
    }

    #transactionsContainer {
        max-height: 100vh;
        max-width: 100vw;
        overflow: auto;
    }

    .tableClass {
        max-height: 100vh;
        max-width: 100vw;
        overflow-x: auto;
    }
}