/* ############ */
/* All pages */
/* ############ */

body {
    font-family: 'Poppins', 'sans-serif';
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    padding-bottom: 100px;
    background: rgb(6, 83, 6);
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subHeader {
    display: flex;
    gap: .8rem;
    align-items: center;
    flex-wrap: wrap;
}

#contact {
    background-color: gray;
    color: white;
    padding: .8rem;
}

footer {
    width: 100vw;
    color: rgb(6, 83, 6);
    text-align: center;
    padding: 4rem 0 2rem;
}

/* ## Links and Buttons ## */

button {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0;
    border-radius: .25rem;
    cursor: pointer;
}

button:hover {
    background: rgb(200, 200, 200);
}

.sr-only {
    visibility: hidden;
    position: absolute;
    /* there are more parameters */
}

/* ################################################## */
/* ############### finances.html #####################*/
/* ################################################## */

#financeMenu {
    width: min(90vw, 730px);
    margin: auto;
}

#summaryContainer {
    margin-top: -5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.summaryBox {
    background: white;
    color: black;
    flex-grow: 1;
    height: 15%;
    padding: 1.5rem;
    border-radius: 0.25rem;
}

#total {
    background: green;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: .8rem;
}

.values {
    font-size: 1.5rem;
}

#transactionsContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#newTransaction {
    color: green;
    font-size: .8rem;
}

#newTransaction:hover {
    color: white;
    cursor: pointer;
}

.divForm {
    width: 25vw;
    background: rgb(6, 83, 6);
    display: none;
    position: fixed;
    border: 3px solid rgb(6, 83, 6);
    z-index: 9;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-top: .8rem;
}

.formButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formConfirm {
    background: green;
    color: white;
}

.formCancel {
    background: red;
    color: white;
}

.formDelete {
    background: black;
    color: red;
}

.tableClass {
    display: flex;
    align-items: center;
    height: 2.5rem;
    background: white;
    color: black;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.tableTransaction:hover {
    opacity: .5;
    cursor: pointer;
}

#tableNames {
    background-color: rgb(6, 83, 6);
    color: white;
    height: 2rem;
    font-weight: bold;
}

.description {
    display: inline-block;
    flex-grow: 1;
    padding-left: 2rem; 
}

.value {
    display: inline-block;
    width: 150px;
}

.date {
    display: inline-block;
    width: 150px;
}

/* ################################################## */
/* ################## cryptos.html ###################*/
/* ################################################## */

#currentSituationTab {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.newLineClass {
    background-color: white;
}

.newLineClass:hover {
    opacity: .5;
    cursor: pointer;
}

h1 {
    background-color: rgb(6, 83, 6);
    color: white;
}

#firstRoll {
    background-color: green;
    color: white;
}

#currentSituationDiv {
    margin-bottom: 10px;
    margin-top: 10px;
}

#operationsDiv {
    width: 70vw;
    display: flex;
    margin-left: 23vw;
    margin-right: 25vw;
}

#h2purchases, #h2sells {
    background-color: green;
    color: white;
    text-align: center;
}

#purchasesDiv {
    width: 25vw;
}

#sellsDiv {
    width: 25vw;
}

/* ############################## */
/* ----- Responsive ------ */
/* ############################## */

@media (max-width: 730px) {
    #summaryContainer {
        flex-direction: column;
    }

    #transactionsContainer {
        overflow-x: auto;
    }
}